
body{
    background-color: white;
}

.man {
    background: rgb(255, 255, 255);
    margin-top: 30px;
}

.card {
    margin-top: 20px;
}


.shikers {
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 510px);
}

.running {
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 510px);
}

.soccer {
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 510px);
}

.walking {
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 510px);
}

.t-shorts_tops {
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 524px);
}
   



.shorts {
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 524px);
}

.hoodies_sweatshirts {
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 524px);
}

.swimwear{
    display: grid;
    margin-left: 7%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 524px);
}






.shoes {
    display: flex;
    margin-left: 15%;
}

.clothing {
    margin-top: -7%;
    display: flex;
    margin-left: 50%;
}

